.App {
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: background-color 0.2s ease;
}

.App.dark {
  background-color: #000;
}

.slider-container {
  position: relative;
  display: inline-block;
}

.slider {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-label {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  cursor: pointer;
}

.slider-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 20px;
  background-color: #fff;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

.slider-button.night {
  background-color: #000;
}

.slider-icon {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: #ad4949;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

input.slider:checked + .slider-label .slider-button {
  background-color: #000;
}

input.slider:checked + .slider-label .slider-icon {
  transform: translateX(20px);
}
