.App {
  text-align: center;
  padding: 20px;
  min-height: 100vh; /* Ensure the App div takes up the full height of the viewport */
  transition: background-color 0.3s; /* Add a smooth transition effect */
  color:black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  /* color: white; Set header text color to white */
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.theme-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.theme-toggle img {
  width: 24px;
  height: 24px;
  background-color: white; /* Set a white background for the button's image */
  border-radius: 50%; /* Optional: Add border radius for a circular appearance */
  padding: 4px; /* Optional: Add padding to adjust the size of the button's image */
}

/* Dark theme styles */
.dark {
  background-color: black; /* Set background color to black */
}

.dark .header {
  color: white; /* Set header text color to white in dark mode */
}
