.tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--tile-color);
  /* border-radius: 10px; */
  padding: 20px;
  min-width: var(--tile-width); /* Add min-width property */
  min-height: var(--tile-height); /* Add min-height property */
}
.tile-name {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 10px;
}

.tile-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  color: var(--text-color);
}

.tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 10px;
}
.tile.dark {
  color:white;
}